<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (ngModelChange)="filterPeople()"
    placeholder="Search by keyword..."
    class="search-input"
  />
</div>

<div *ngIf="loading" class="loading">Loading...</div>

<div *ngIf="error" class="error">
  {{ error }}
</div>

<table *ngIf="!loading && !error">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Birth Date</th>
      <th>Professional Title</th>
      <th>Company</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td>{{ person.birthDate | date : "mediumDate" }}</td>
      <td>{{ person.professionalTitle }}</td>
      <td>{{ person.company }}</td>
      <td>{{ person.email }}</td>
      <td>{{ person.phone }}</td>
    </tr>
  </tbody>
</table>
