<div class="table-container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearch()"
      placeholder="Buscar..."
      class="search-input"
    />
  </div>

  <table class="data-table">
    <thead>
      <tr>
        <th
          class="sortable"
          (click)="onSort('firstName')"
          [attr.data-sort-direction]="
            sortConfig.column === 'firstName' ? sortConfig.direction : ''
          "
        >
          Nombre
        </th>
        <th
          class="sortable"
          (click)="onSort('lastName')"
          [attr.data-sort-direction]="
            sortConfig.column === 'lastName' ? sortConfig.direction : ''
          "
        >
          Apellido
        </th>
        <th
          class="sortable"
          (click)="onSort('professionalTitle')"
          [attr.data-sort-direction]="
            sortConfig.column === 'professionalTitle'
              ? sortConfig.direction
              : ''
          "
        >
          Título
        </th>
        <th
          class="sortable"
          (click)="onSort('birthDate')"
          [attr.data-sort-direction]="
            sortConfig.column === 'birthDate' ? sortConfig.direction : ''
          "
        >
          Fecha de Nacimiento
        </th>
        <th
          class="sortable"
          (click)="onSort('company')"
          [attr.data-sort-direction]="
            sortConfig.column === 'company' ? sortConfig.direction : ''
          "
        >
          Empresa
        </th>
        <th
          class="sortable"
          (click)="onSort('email')"
          [attr.data-sort-direction]="
            sortConfig.column === 'email' ? sortConfig.direction : ''
          "
        >
          Email
        </th>
        <th
          class="sortable"
          (click)="onSort('phone')"
          [attr.data-sort-direction]="
            sortConfig.column === 'phone' ? sortConfig.direction : ''
          "
        >
          Teléfono
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.professionalTitle }}</td>
        <td>{{ person.birthDate | date }}</td>
        <td>{{ person.company }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
